
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
</head>
<body>
<table id="table" class="table table-striped">
    <thead>
    <tr>
        <th> <a href="personal-page.html" target="_self">Личный кабинет</a></th>
        <th> <a href="tasks-main-page.html" target="_self">Задачи</a></th>
        <th> <a href="salary-page.html" target="_self">Доход</a></th>
        <th> <a href="schedule-page.html" target="_self">Расписание и отпуска</a></th>
        <th> <a href="get-dismissed.html" target="_self">Увольнение</a></th>
    </tr>
    </thead>
    <tbody id="schedule-table-body"></tbody>
</table>
<div class="container mt-5">
    <h1 class="text-center mb-4">Ваше расписание</h1>

    <div id="calendar"></div>

</div>

</body>
</html>
